.salone-one-info__contacts,
.salone-one-info__text {
  display: inline-block;
  vertical-align: top;
}
.salone-one-info__contacts {
  width: 40%;

  @include m680 {
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 2rem;
  }
  @include m425 {
    padding-left: 0;
  }
}
.salone-one-info__text {
  width: 59%;

  @include m680 {
    width: 100%;
  }
}

.salone-one-info__contacts--title {
  font-size: 3.6rem;
  line-height: 1;
  margin-bottom: 2rem;
  color: #4f4f4f;

  @include gilroy(bold);
}

.salone-one-info__contacts--metro {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
  margin-bottom: 2rem;
  padding-left: 4.5rem;
  text-transform: none;
  color: #4f4f4f;

  @include opensans(regular);
  &::before {
    position: absolute;
    bottom: .2rem;
    left: 0;
    width: 3rem;
    height: 2.5rem;
    content: '';
    background-image: url('../img/metro.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.salone-one-info__contacts--phone {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: #4f4f4f;

  @include gilroy(bold);
}

.salone-one-info__contacts--time {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 4rem;
  color: #4f4f4f;

  @include gilroy(bold);
}
.salone-one-info__contacts--btn-wrap {
  display: flex;
  flex-direction: row;

  // align-items: center;
  align-items: flex-start;
  @include m1000() {
    flex-direction: column;

    align-items: center;
  }
}
.salone-one-info__contacts--btn {
  max-width: 35rem;
  margin: 0 1.5rem 0 0;
  text-align: center;

  @include m1000() {
    margin: 0 0 1.5rem 0;
  }
  .btn-link {
    @include m1024() {
      min-width: 17rem;
    }
  }
  .btn-link__wrap {
    @include m1024() {
      min-width: 17rem;
    }
  }
}
.salone-one-info__inst--btn {
  margin: 0 0 0 1.5rem;

  @include m1000() {
    margin: 0;
  }
  .btn-link__wrap {
    @include m1024() {
      min-width: 17rem;
    }
  }
  .btn-link {
    display: flex;
    flex-direction: row;
    padding: .7rem .9rem;

    @include m1024() {
      min-width: 17rem;
    }
    align-items: center;
  }
  svg {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: .9rem;

    fill: #fff;
  }
}

.salone-one-info__text {
  padding-left: 2rem;

  @include m425 {
    padding-left: 0;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 3rem 0;
  }
}

.salone-map {
  margin-bottom: 3rem;
}
