section.about-sec
  .container
    .about-sec__item
      h3.about-sec__title
        span.about-sec__highlight 8
        =' '
        | салонов класса люкс в Санкт-Петербурге
      p.about-sec__text Вы выбираете лучшее рядом с вашим домом или работой

    .about-sec__item
      h3.about-sec__title
        span.about-sec__highlight 200
        =' '
        | профессиональных мастеров
      p.about-sec__text Вы всегда будете в курсе новых трендов моды благодаря нашим ТОП стилистам

    .about-sec__item
      h3.about-sec__title
        span.about-sec__highlight Лучшая
        =' '
        | профессиональная косметика
      p.about-sec__text Вы всегда будете в курсе новых трендов моды благодаря нашим ТОП стилистам

    .about-sec__item
      h3.about-sec__title
        span.about-sec__highlight Врачи
        =' '
        | с высшим медицинским образованием
      p.about-sec__text В наших салонах красота и здоровье вашего тела и лица в безопасности

    .about-sec__item
      h3.about-sec__title
        span.about-sec__highlight Индивидуальный
        =' '
        | подход и
        =' '
        span.about-sec__highlight гарантия
        =' '
        | качества
      p.about-sec__text Вам порекомендуют процедуру или услуги, которые подходят именно вам