section.banner-sec.banner-sec-04
  .container
    .materials
      .materials__brand
        h3.materials__brand--title В работе мы используем косметику:
        .materials__brand--pic
          img(src="assets/img/materials-brand.png", alt="materials brand logo")
      .materials__pic
        img(src="assets/img/materials-picture.png", alt="picture")
      .materials__slogan
        .materials__slogan--pic
          img(src="assets/img/materials-slogan.png", alt="icon")
        p.materials__slogan--text Салон красоты Апельсин является лидером по количеству окрашиваний и проданных позиций марки L`oreal в Северо-западном регионе.