section.banner-sec
  .container
    .banner.banner-01
      .banner-text
        h3.banner-text__title Сделай подарок любимому человеку!
        h3.banner-text__subtitle
          | Закажи
          =' '
          span.highlight подарочную карту
          =' '
          | онлайн прямо сейчас!

      .banner-btn
        include ../common/_btn-link