section.banner-sec.banner-sec-04
  .container
    .service-banner.service-banner-02
      h3.service-banner__title Сделаем яркий момент еще красочнее
      p.service-banner__text Наши стилисты постоянно учавствуют на международных конкурсах и выставках, с каждым годом оттачивая свое мастерство.