section.banner-sec
  .container
    .banner.banner-02
      .banner-text
        h3.banner-text__title
          | Запишись на
          =' '
          span.highlight бесплатную консультацию
          =' '
          br
          | парикмахера-стилиста!
        h3.banner-text__subtitle
          | Получи скидку
          =' '
          span.highlight.large 50%
          =' '
          | на стрижку с укладкой!

      .banner-btn
        include ../common/_btn-link