section.banner-sec
  .container
    .banner.banner-03
      .banner-text
        h3.banner-text__title Впечатлил результат?
        h3.banner-text__subtitle
          | Закажи обратный звонок и получи
          =' '
          span.highlight.large скидку 10%
          =' '
          br
          | на первое посещение!

      .banner-btn
        include ../common/_btn-link