section.calc#calculator
  h2.page-inn__title рассчитать стоимость окрашивания — просто!

  .container
    form.calc-form
      // BEGIN блок с картинками длины волос
      .calc-hairs__list.number
        span.calc-hairs__list-title Выберите длину волос:
        .calc-hairs__item.active
          label
            input(type="radio" name="hair-calc" checked)
          .calc-hairs__pic
          p.calc-hairs__text 
            |Короткие волосы
        .calc-hairs__item
          label
            input(type="radio" name="hair-calc")
          .calc-hairs__pic
          p.calc-hairs__text 
            |Средние волосы
        .calc-hairs__item
          label
            input(type="radio" name="hair-calc")
          .calc-hairs__pic
          p.calc-hairs__text 
            |Длинные волосы
        .calc-hairs__item
          label
            input(type="radio" name="hair-calc")
          .calc-hairs__pic
          p.calc-hairs__text 
            |Очень длинные волосы
      // END блок с картинками длины волос

      .calc-select__list
        label.calc-select__label
          |Выберите желаемое окрашивание:
          select.calc-select__select.selectmenu
            option Американское мелирование
            option Китайское мелирование
            option Мексиканское мелирование

        .calc-select__btn-wrap#calc-select__dropdown
          span.calc-select__btn Рассчитать

      .calc-hairs__item-text
        p В стоимость окрашивание влодит количество материалов и этапов работ, необходимых для производства вашего неповторимого окрашиваня.

      .calc-hairs__dropbox
        .calc-hairs__grey-box
          .calc-hairs__grey-price
            |Стоимость окрашивания
            br
            span 3500р.
          .calc-hairs__grey-promo
            |Промо-код
            br
            span 2975
          .calc-hairs__grey-input
            input(type="text" placeholder="Ваш e-mail для получения промо-кода")
          .calc-hairs__grey-btn
            .single-certificate__btn-wrap
              input(type="submit" value="Отправить").single-certificate__btn 

        .calc-hairs__footer
          p для фиксации цены — предъявление промо-кода обязательно
          .calc-hairs__footer-btn
            .calc-select__btn-wrap
              a(href="#").calc-select__btn Позвонить и записаться
          .calc-hairs__footer-btn
            .calc-select__btn-wrap
              a(href="#").calc-select__btn Записаться онлайн
