section.lg-slider(style="background-color: rebeccapurple;")
  .lg-slider#lg-slider
    .lg-slider__item(style="background-image: url(assets/img/lg-slider/slide-01.jpg)")
      .lg-slider__container
        .lg-slider__container-inn
          h2.lg-slider__title ОКРАШИВАНИЕ ВОЛОС l’oreal professionel
          p.lg-slider__text рассчитайте стоимость вашего окрашивания и получите промо-код прямо сейчас!
          .btn-link__wrap
            a.btn-link(href="#") Расчитать


    .lg-slider__item(style="background-image: url(assets/img/lg-slider/slide-02.jpg)")
      .lg-slider__container
        .lg-slider__container-inn
          h2.lg-slider__title ОКРАШИВАНИЕ ВОЛОС l’oreal professionel
          p.lg-slider__text рассчитайте стоимость вашего окрашивания и получите промо-код прямо сейчас!
          .btn-link__wrap
            a.btn-link(href="#") Расчитать
            
    .lg-slider__item(style="background-image: url(assets/img/lg-slider/slide-03.jpg)")
      .lg-slider__container
        .lg-slider__container-inn
          h2.lg-slider__title ОКРАШИВАНИЕ ВОЛОС l’oreal professionel
          p.lg-slider__text рассчитайте стоимость вашего окрашивания и получите промо-код прямо сейчас!
          .btn-link__wrap
            a.btn-link(href="#") Расчитать
