section.masters-sec#masters
  section.section-title
    .container
      h2.section-title__text Профессионалы на страже вашей красоты
  .container
    ul.masters-sec__carousel
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            |Елена
            br
            | Левакина
          h4.masters-sec__position визажист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            |Нефедорова
            br
            | Александра
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            | Белова
            br
            | Юлия
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            | Казаков
            br
            | Максим
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            |Елена
            br
            | Левакина
          h4.masters-sec__position визажист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            |Нефедорова
            br
            | Александра
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            | Белова
            br
            | Юлия
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться
      li.masters-sec__item
        img.masters-sec__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .masters-sec__info
          h3.masters-sec__name
            | Казаков
            br
            | Максим
          h4.masters-sec__position парикмахер-стилист
          .masters-sec__btn--wrap
            a.masters-sec__btn(href="#") Подробнее о мастере
            a.masters-sec__btn(href="#") Записаться

    .masters-sec__bottom-link
      a(href="#") Все мастера
