.container.master-works
  h2.page-inn__title каждая наша работа - шедевр!

  .master-works__slider
    ul.master-works__carousel
      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-01.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-01.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-02.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-02.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-03.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-03.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-04.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-04.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-01.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-01.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-02.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-02.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-03.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-03.jpg", alt="works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/works/works-04.jpg", data-lightbox='works-01')
          img(src="assets/img/works/works-04.jpg", alt="works")