.container.master-works
  h2.page-inn__title Примеры работ

  .master-works__slider
    ul.master-works__carousel
      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")

      li.master-works__item
        a.salon-one-slider__link(href="assets/img/master-works/master-works-01.jpg", data-lightbox='master-works-01')
          img(src="assets/img/master-works/master-works-01.jpg", alt="master works")