section.price-sec
  .container
    .price
      .price-header
        h2.price-header__title Стоимость услуг

      .accordeon
        .accordeon__item
          //- header
          .accordeon-title
            .accordeon-title__click
            a.accordeon-title__link(href="#") Стрижки горячими ножницами или с использованием утюга
          //- content
          .accordeon-content
            .accordeon-content__row--head
              .accordeon-content__name
              .accordeon-content__price-1 Стилист
              .accordeon-content__price-2 Топ-стилист
            .accordeon-content__row
              .accordeon-content__name Короткие волосы
              .accordeon-content__price-1 1450р.
              .accordeon-content__price-2 1600р.
            .accordeon-content__row
              .accordeon-content__name Средние волосы
              .accordeon-content__price-1 1650р.
              .accordeon-content__price-2 1850р.
            .accordeon-content__row
              .accordeon-content__name Длинные волосы
              .accordeon-content__price-1 2050р.
              .accordeon-content__price-2 2350р.

        .accordeon__item
          //- header
          .accordeon-title
            .accordeon-title__click
            a.accordeon-title__link(href="#") Укладка феном легкая, по форме
          //- content
          .accordeon-content
            .accordeon-content__row--head
              .accordeon-content__name
              .accordeon-content__price-1 Стилист
              .accordeon-content__price-2 Топ-стилист
            .accordeon-content__row
              .accordeon-content__name Короткие волосы
              .accordeon-content__price-1 1450р.
              .accordeon-content__price-2 1600р.
            .accordeon-content__row
              .accordeon-content__name Средние волосы
              .accordeon-content__price-1 1650р.
              .accordeon-content__price-2 1850р.
            .accordeon-content__row
              .accordeon-content__name Длинные волосы
              .accordeon-content__price-1 2050р.
              .accordeon-content__price-2 2350р.

        .accordeon__item
          //- header
          .accordeon-title
            .accordeon-title__click
            a.accordeon-title__link(href="#") Укладка коктейльная
          //- content
          .accordeon-content
            .accordeon-content__row--head
              .accordeon-content__name
              .accordeon-content__price-1 Стилист
              .accordeon-content__price-2 Топ-стилист
            .accordeon-content__row
              .accordeon-content__name Короткие волосы
              .accordeon-content__price-1 1450р.
              .accordeon-content__price-2 1600р.
            .accordeon-content__row
              .accordeon-content__name Средние волосы
              .accordeon-content__price-1 1650р.
              .accordeon-content__price-2 1850р.
            .accordeon-content__row
              .accordeon-content__name Длинные волосы
              .accordeon-content__price-1 2050р.
              .accordeon-content__price-2 2350р.