section.reviews-sec
  section.section-title
    .container
      h2.section-title__text О нас говорят только хорошее
  .container
    ul.reviews-slider
      li.reviews-sec__item
        .reviews-ava
          img.reviews-ava__pic(src="assets/img/reviews/reviews-ava-01.jpg")
          h4.reviews-ava__name Анастасия
        .reviews-text
          p Хочу в очередной раз сказать спасибо Александру Колосу за высокое качество работы и профессионализм! Стрижемся у Александра уже давно и всегда очень довольны результатом:) Скоро приду к Саше на окрашивание!

      li.reviews-sec__item
        .reviews-ava
          img.reviews-ava__pic(src="assets/img/reviews/reviews-ava-02.jpg")
          h4.reviews-ava__name Анжела
        .reviews-text
          p Хочу в очередной раз сказать спасибо Александру Колосу за высокое качество работы и профессионализм! Стрижемся у Александра уже давно и всегда очень довольны результатом Скоро приду к Саше на окрашивание!

    .reviews-sec__bottom-link
      a(href="#") Все отзывы
