.salon-masters
  .container
    ul.salon-masters__carousel
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист-визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена
            br
            | Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена
            br
            | Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена
            br
            | Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена
            br
            | Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-01.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Елена
            br
            | Левакина
          h4.salon-masters__position визажист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-02.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            |Нефедорова
            br
            | Александра
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-03.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Белова
            br
            | Юлия
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться
      li.salon-masters__item
        img.salon-masters__pic(src="assets/img/masters/masters-sec-04.jpg", alt="masters avatar")
        .salon-masters__info
          h3.salon-masters__name
            | Казаков
            br
            | Максим
          h4.salon-masters__position парикмахер-стилист
          .salon-masters__btn--wrap
            a.salon-masters__btn(href="#") Подробнее о мастере
            a.salon-masters__btn(href="#") Записаться

    .masters-sec__bottom-link
      a(href="#") Все мастера