section.salone-sec.salone-sec-2
  .container
    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-01.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | Пулковская ул., д.10, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 678-82-82")
          |+7 (812) 678-82-82

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-02.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | Кушелевская дорога д.3, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 620-85-85")
          |+7 (812) 620-85-85

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-03.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | Малая Балканская ул., д.26
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 670-15-15")
          |+7 (812) 670-15-15

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-04.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | ул. Есенина, д.1, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 687-87-87")
          | +7 (812) 687-87-87

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-05.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | ЖК Оккервилль
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 670-15-15")
          |+7 (812) 670-15-15

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-06.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | ул. Коллонтай, д.17, к.3
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 574-80-80")
          |+7 (812) 574-80-80

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-07.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | ул. Коллонтай, д.28, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 325-58-18")
          |+7 (812) 325-58-18

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-08.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | Комендантский пр., д.13, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 432-72-72")
          |+7 (812) 432-72-72

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

    .salone-sec__item
      .salone-sec__pic--wrap
        img.salone-sec__pic(src="assets/img/salon-sec-09.jpg", alt="salone")

      .salone-sec__link
        a.salone-sec__link--adress(href="#",target="_blank", rel="nofollow noopener noreferrer")
          | Комендантский пр., д.13, к.1
          br
        a.salone-sec__link--phone(href="tel://+7 (812) 432-72-72")
          |+7 (812) 432-72-72

      .salone-sec__btn-block
        .btn-link__wrap
          a.btn-link(href="#") Позвонить и Записаться
        .btn-link__wrap
          a.btn-link(href="#") Записаться онлайн

