.salon-one-slider
  ul#salon-one-slider
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-01.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-01.jpg', title="Фото салона")
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-02.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-02.jpg', title="Фото салона")
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-03.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-03.jpg', title="Фото салона")
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-04.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-04.jpg', title="Фото салона")
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-01.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-01.jpg', title="Фото салона")
    li
      a.salon-one-slider__link(href='assets/img/salon/salon-02.jpg', data-lightbox='salon-01')
        img(src='assets/img/salon/salon-02.jpg', title="Фото салона")

  #salon-one-slider-pager.salon-one-slider__pager
    a(data-slide-index='0', href='')
      span
        img(src='assets/img/salon/salon-01sm.jpg')
    a(data-slide-index='1', href='')
      span
        img(src='assets/img/salon/salon-02sm.jpg')
    a(data-slide-index='2', href='')
      span
        img(src='assets/img/salon/salon-03sm.jpg')
    a(data-slide-index='3', href='')
      span
        img(src='assets/img/salon/salon-04sm.jpg')
    a(data-slide-index='4', href='')
      span
        img(src='assets/img/salon/salon-01sm.jpg')
    a(data-slide-index='5', href='')
      span
        img(src='assets/img/salon/salon-02sm.jpg')