section.service-sec#service
  section.section-title
    .container
      h2.section-title__text Все виды услуг для Вашей красоты

  .container
    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-02.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Уход
            br
            | за волосами
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция

    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-03.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Уход
            br
            | за кожей
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция

    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-04.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Уход
            br
            | за телом
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция

    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-05.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Маникюр и
            br
            | педикюр
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция

    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-06.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Уход
            br
            | визажиста
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция

    .service-sec-item
      .service-sec-item__pic--wrap
        img.service-sec-item__pic(src="assets/img/servise-sec-item-07.jpg", alt="image")
      .service-sec-item__text
        h3.service-sec-item__title
          a(href="#")
            | Услуги
            br
            | для мужчин
        ul.service-sec-item__list
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Маски
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Пиллинг
          li.service-sec-item__item
            a.service-sec-item__link(href="#") Депиляция