//begin snow
canvas(id="snow" class="snow")
.layers
  .layer.layer--background
    .snowflakes
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
    .snowflakes
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
  .layer.layer--middleground
    .snowflakes
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
    .snowflakes
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
  .layer.layer--foreground
    .snowflakes
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
    .snowflakes
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow4.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow5.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow6.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow7.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow8.svg', alt='snow')
      .snowflake.snowflake--large
        img(src='assets/img/apelsin-snow/snow1.svg', alt='snow')
      .snowflake.snowflake--small
        img(src='assets/img/apelsin-snow/snow2.svg', alt='snow')
      .snowflake.snowflake--medium
        img(src='assets/img/apelsin-snow/snow3.svg', alt='snow')
//end   snow