section.top-slider-sec
  #full-slider-wrapper
    #layerslider.layerslider(style="width:100%;height:310px;")

      // ***** Begin Slide 1 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')

        img.ls-l.slide-01__pic(style='top:30px;left:0;white-space: nowrap;', data-ls='offsetxin:-200;durationin:2000;offsetxout:-200;', src='assets/img/top-slider/s1-lady.png', alt='Lady in slider')
        p.ls-l.slide-01__title(style='top:90px;left:320px;white-space: nowrap; font-size: 40px; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
          | Микроблейдинг бровей
        p.ls-l.slide-01__subtitle(style='top:140px;left:320px;white-space: nowrap; font-size: 50px; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-600;')
          | Всего 7500р.

        a.ls-l.slide-btn__link(style="top:220px;left:320px;font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Узнать подробности первым!
      // ***** End Slide 1 *****

      // ***** Begin Slide 2 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')
        .container
          img.ls-l.slide-02__pic(style='top:40px;left:450px;white-space: nowrap;', data-ls='offsetxin:400;durationin:2000;offsetxout:400;', src='assets/img/top-slider/s2-lady.png', alt='')

          p.ls-l.slide-02__title(style='top:90px;left:30px;white-space: nowrap; font-size: 40px; line-height: 1; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | Дни косметолога!
            br
            | -15%  на все инъекции

          a.ls-l.slide-btn__link(style="top: 190px;left:30px;  font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Узнать подробности первым!

          p.ls-l.slide-02__text(style='top: 250px; left: 30px; white-space: nowrap; font-size: 12px; line-height: 1; text-transform: none; color: rgb(80, 80, 80); width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -385.965, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | О возможных противопоказаниях проконсультируйтесь с врачом.
            br
            | Медицинская лицензия № ЛО-78-01-007554 от от 30 января 2017г.
            br
            | Услуги предоставляются ООО "ВОЛНА".
      // ***** End Slide 2 *****

      // ***** Begin Slide 3 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')

        img.ls-l.slide-03__pic(style='top:10px;left:30px;white-space: nowrap;', data-ls='offsetxin:-200;durationin:2000;offsetxout:-200;', src='assets/img/top-slider/s3-man.png', alt='Lady in slider')
        p.ls-l.slide-03__title(style='top:90px;left:370px;white-space: nowrap; font-size: 40px; line-height: 1; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
          | Мужская
          br
          | стрижка -
          br
          | 990р.

        a.ls-l.slide-btn__link(style="top: 220px;left: 370px;  font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Узнать подробности первым!
      // ***** End Slide 3 *****

      // ***** Begin Slide 4 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')
        .container
          img.ls-l.slide-04__pic(style='top:-100px;left:390px;white-space: nowrap;', data-ls='offsetxin:400;durationin:2000;offsetxout:400;', src='assets/img/top-slider/s4-salon.png', alt='')

          p.ls-l.slide-04__title(style='top:85px;left:30px;white-space: nowrap; font-size: 50px; line-height: 1; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | Мы

          p.ls-l.slide-04__subtitle(style='top:135px;left:30px;white-space: nowrap; font-size: 40px; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | открылись!

          p.ls-l.slide-04__text(style='top:190px;left:30px;white-space: nowrap; font-size: 20px; line-height: 1.2; color: #010101;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | Ждем Вас по адресу:
            br
            | Ул Кременчугская 9/1
            br
            | ЖК "Царская столица"
            br
            | +7 (812) 679-11-11
      // ***** End Slide 4 *****

      // ***** Begin Slide 5 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')
        .container
          img.ls-l.slide-04__pic(style='top:-30px;left:30px;white-space: nowrap;', data-ls='offsetxin:400;durationin:2000;offsetxout:400;', src='assets/img/top-slider/s5-lady.png', alt='lady')

          p.ls-l.slide-04__title(style='top:60px;left:400px;white-space: nowrap; font-size: 90px; line-height: 1; text-transform: uppercase; color: #f6882b;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | -25%

          p.ls-l.slide-04__subtitle(style='top:140px;left:400px;white-space: nowrap; font-size: 44px; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | на все!*

          p.ls-l.slide-04__text(style='top:200px;left:400px;white-space: nowrap; font-size: 14px; line-height: 1.2; color: #010101;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            | скидка предоставляется только на комплекс услуг,
            br
            | подробности у администраторов салона

          a.ls-l.slide-btn__link(style="top:245px;left:400px;font-size:18px;position:relative;z-index:10;display:inline-block;padding:12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Узнать подробности первым!
      // ***** End Slide 5 *****

      // ***** Begin Slide 6 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')
        .container
          img.ls-l.slide-06__pic(style='top:20px;left:10px;white-space: nowrap;', data-ls='offsetxin:400;durationin:2000;offsetxout:400;', src='assets/img/top-slider/s6-lady.png', alt='')

          p.ls-l.slide-06__title(style='top:50px;left:350px;white-space: nowrap; font-size: 55px; line-height: 1;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |Лазерное
          p.ls-l.slide-06__title(style='top:100px;left:350px;white-space: nowrap; font-size: 35px; line-height: 1;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |омоложение
          p.ls-l.slide-06__title(style='top:140px;left:350px;white-space: nowrap; font-size: 25px; line-height: 1;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |красивое лицо

          p.ls-l.slide-06__subtitle(style='top:160px;left:350px;white-space: nowrap; font-size: 50px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            span(style='color:#f6882b;') 6500
            =" "
            |РУБ.

          h2.ls-l.slide-06__contacts--title(style='top:220px;left:350px;white-space: nowrap;font-size:16px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') ул Кременчугская 9/1
          h3.ls-l.slide-06__contacts--metro(style='top:243px;left:350px;white-space: nowrap; font-size:16px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') пл. Восстания
          h3.ls-l.slide-06__contacts--phone(style='top:260px;left:350px;white-space:nowrap;font-size:26px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') +7 (812) 679-11-11

          a.ls-l.slide-btn__link(style="top: 200px;left: 650px;font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Записаться

          p.ls-l.slide-06__bottom(style='top:290px;left:-50px;white-space:nowrap; font-size: 12px; line-height: 1.2; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') О возможных противопоказаниях проконсультируйтесь с врачом. Медицинская лицензия № ЛО-78-01-007554 от 30 января 2017г. Услуги предоставляются ООО "ВОЛНА".
      // ***** End Slide 6 *****

      // ***** Begin Slide 7 *****
      //- .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')
        .container
          img.ls-l.slide-07__pic(style='top:-10px;left:530px;white-space: nowrap;', data-ls='offsetxin:400;durationin:2000;offsetxout:400;', src='assets/img/top-slider/s7-lady.png', alt='')

          p.ls-l.slide-07__title(style='top:50px;left:30px;white-space: nowrap; font-size: 35px; line-height: 1;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |Лазерная диодная
            br
            |эпиляция бикини

          p.ls-l.slide-07__subtitle(style='top:115px;left:30px;white-space: nowrap; font-size: 60px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |от
            =" "
            span(style='color:#f6882b;') 1900
            =" "
            |РУБ.

          p.ls-l.slide-07__text(style='top:180px;left:30px;white-space: nowrap; font-size: 26px; line-height: 1.2;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
            |Быстро
            =" "
            span
            =" "
            |Эффективно
            =" "
            span
            =" "
            |Безболезненно

          h2.ls-l.slide-07__contacts--title(style='top:215px;left:30px;white-space: nowrap;font-size:16px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') ул Кременчугская 9/1
          h3.ls-l.slide-07__contacts--metro(style='top:238px;left:30px;white-space: nowrap; font-size:16px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') пл. Восстания
          h3.ls-l.slide-07__contacts--phone(style='top:255px;left:30px;white-space:nowrap;font-size:26px;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') +7 (812) 679-11-11

          a.ls-l.slide-btn__link(style="top: 207px;left: 402px;  font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") Записаться

          p.ls-l.slide-07__bottom(style='top:290px;left:-50px;white-space: nowrap; font-size: 12px; line-height: 1.2; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;') О возможных противопоказаниях проконсультируйтесь с врачом. Медицинская лицензия № ЛО-78-01-007554 от 30 января 2017г. Услуги предоставляются ООО "ВОЛНА".
      // ***** End Slide 7 *****

      // ***** Begin Slide 8 *****
      .ls-slide(data-ls='transition2d:1;timeshift:-1000;')
        img.ls-bg(src='assets/img/top-slider/bg-top-slider.jpg', alt='Slide background')

        img.ls-l.slide-08__pic(style='top:40px;left:530px;white-space: nowrap;', data-ls='offsetxin:-200;durationin:2000;offsetxout:-200;', src='assets/img/top-slider/s8-email.png', alt='email')
        p.ls-l.slide-08__title(style='top:70px;left:30px;white-space: nowrap; font-size: 40px; line-height: 1; text-transform: uppercase; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
          | Подарки и скидки
          br
          | всем
          =" "
          span(style='color:#f6882b;') подписчикам!
        p.ls-l.slide-08__text(style='top:170px;left:30px;white-space: nowrap; font-size: 14px; line-height: 1.2; color: #505050;', data-ls='offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-400;durationout:1000;')
          | подпишитесь на нашу e-mail рассылку и будьте
          br
          | в курсе всех акций салонов “апельсин”, а также
          br
          | получайте подарки и другие эксклюзивные бонусы!

        a.ls-l.slide-btn__link(style="top: 240px;left: 30px;  font-size: 18px; position: relative; z-index: 10; display: inline-block; padding: 12px 20px; transition: 0s; text-decoration: none; letter-spacing: .3px; text-transform: uppercase; color: #fff; border-radius: 8px; box-shadow: 0 0 15px 0 rgba(242,166,33,.7); text-shadow: 0 0 30px #ef0909;", data-ls='offsetxin:400;durationin:1000;offsetxout:-400;')(href="#") подробнее
      // ***** End Slide 8 *****

