section.why-we
  section.section-title
    .container
      h2.page-inn__title почему именно мы?
  .container
        
    .why-we__item
      img(src="assets/img/why-we-01.png", alt="icon").why-we__icon
      h2.why-we__title Удобство
      p.why-we__text 
        |У нас 9 салонов класса “Люкс”
        |во всех районах города

    .why-we__item
      img(src="assets/img/why-we-02.png", alt="icon").why-we__icon
      h2.why-we__title Качество
      p.why-we__text 
        |Наши мастера профессионалы 
        |высочайшего уровня

    .why-we__item
      img(src="assets/img/why-we-03.png", alt="icon").why-we__icon
      h2.why-we__title Безопасность
      p.why-we__text 
        |Работаем только с качественными
        |сертифицированными материалами

    .why-we__item
      img(src="assets/img/why-we-04.png", alt="icon").why-we__icon
      h2.why-we__title Выгодно
      p.why-we__text 
        |Окрашивание по фиксировангой цене
        |в зависимости отдлины волос
