.work-sec
  section.section-title
    .container
      h2.section-title__text
        | Каждая наша работа -
        = ' '
        span.highlight шедевр

  #ri-grid.ri-grid.ri-grid-size-2
    img.ri-loading-image(src='assets/img/work-gallery/loading.gif')
    ul
      li
        a(href='#')
          img(src='assets/img/work-gallery/01.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/02.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/03.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/04.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/05.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/05.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/04.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/03.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/02.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/01.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/04.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/01.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/02.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/05.jpg')
      li
        a(href='#')
          img(src='assets/img/work-gallery/03.jpg')
