.about-sec {
  text-align: center;
}

.about-sec__item {
  display: inline-block;
  width: 33%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  vertical-align: top;

  @include m1024() {
    width: 49%;
    max-width: 35rem;
  }
  @include m680() {
    width: 100%;
  }
}

.about-sec__highlight {
  color: #f2a621;
}

.about-sec__title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: none;
  color: #191919;

  @include gilroy(bold);
}

.about-sec__text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: inline-block;
  max-width: 30rem;
  color: #191919;
}
