.calc-form {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.calc-hairs__list {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;

  @include m600() {
    justify-content: space-around;
  }
}
.calc-hairs__list-title {
  font-size: 2.2rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #3f3f3f;
}
.calc-hairs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
  max-width: 28rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-align: center;
  border: .2rem solid transparent;
  border-radius: 1.2rem;

  @include m600() {
    width: 45%;
  }
  &:hover {
    .calc-hairs__pic {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
    .calc-hairs__text {
      color: #f19f0f;
    }
  }
  &.active {
    border: .2rem solid #f19f0f;
  }
  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
  }
  &:nth-child(2) {
    .calc-hairs__pic {
      &::before {
        background-position: 0 0;
      }
      &::after {
        background-position: 0 100%;
      }
    }
  }
  &:nth-child(3) {
    .calc-hairs__pic {
      &::before {
        background-position: -210px 0;
      }
      &::after {
        background-position: -210px 100%;
      }
    }
  }
  &:nth-child(4) {
    .calc-hairs__pic {
      &::before {
        background-position: -419px 0;
      }
      &::after {
        background-position: -419px 100%;
      }
    }
  }
  &:nth-child(5) {
    .calc-hairs__pic {
      &::before {
        background-position: -628px 0;
      }
      &::after {
        background-position: -628px 100%;
      }
    }
  }
}
.calc-hairs__pic {
  position: relative;
  display: block;
  width: 100%;
  max-width: 110px;
  height: 135px;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .5s;
    background-image: url('../img/calc.png');
    background-repeat: no-repeat;
  }
  &::before {
    opacity: 1;
  }
  &::after {
    opacity: 0;
  }
}
.calc-hairs__text {
  font-size: 2rem;
  line-height: 1.3;
  transition: color .5s;
  color: #3f3f3f;
}
.calc-hairs__item-text {
  position: relative;
  z-index: 20;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #fff;
  p {
    font-size: 1.6rem;
    line-height: 1.3;
    display: inline-block;
    max-width: 65rem;
    color: #3f3f3f;
  }
}


.calc-select__list {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  .ui-selectmenu-button.ui-button {
    max-width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}
.calc-select__label {
  font-size: 2.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 55rem;
  margin-bottom: 1.5rem;
  color: #3f3f3f;
}
.calc-select__select {
  display: block;
  width: 100%;
}
.calc-select__btn-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 18rem;
  margin: 1rem auto 2rem;
  padding-bottom: .3rem;
  text-align: center;
  border-radius: .8rem;
  background-color: #f8d18f;
  .calc-select__btn {
    font-size: 2rem;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%;
    max-width: 18rem;
    padding: .5rem 1.5rem .3rem 1.5rem;
    transition: .5s;
    text-decoration: none;
    letter-spacing: .03rem;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: .8rem;
    background-color: #f2a621;
    box-shadow: 0 0 1.5rem 0 rgba(242,166,33,.7);
    text-shadow: 0 0 3rem #ef0909;

    @include gilroy(bold);
    &:hover {
      transition: .5s;
      color: #fff;
      background-color: #f68728;
      text-shadow: 0 0 1rem #f2a621;
    }
  }
}



.calc-hairs__dropbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: -60rem;
  transition: .5s;
  &.active {
    margin-top: 0;
  }
}
.calc-hairs__grey-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f3f1ee;
}
.calc-hairs__grey-price {
  font-size: 1.8rem;
  line-height: 1.4;
  width: 30%;
  margin-bottom: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  color: #3f3f3f;

  @include gilroy(bold);
  @include m750() {
    width: 35%;
    margin-bottom: 1.5rem;
  }
  @include m600() {
    width: 50%;
    text-align: center;
  }
  span {
    font-size: 2.4rem;
    color: #f1a013;
  }
}
.calc-hairs__grey-promo {
  font-size: 1.8rem;
  line-height: 1.4;
  width: 13%;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #3f3f3f;

  @include gilroy(bold);
  @include m750() {
    width: 20%;
    margin-bottom: 1.5rem;
  }
  @include m600() {
    width: 50%;
    text-align: center;
  }
  span {
    font-size: 2.4rem;
    color: #f1a013;
  }
}
.calc-hairs__grey-input {
  width: 37%;
  padding: 0 1rem;

  @include m750() {
    width: 45%;
    margin-bottom: 1.5rem;
  }
  @include m600() {
    width: 100%;
  }
  input {
    font-size: 1.6rem;
    width: 100%;
    padding: 0 2rem;
    color: #6f6f6f;
    border: 1px solid #adadad;
    border-radius: 1rem;
    outline: none;
  }
}
.calc-hairs__grey-btn {
  width: 20%;
  text-align: center;

  @include m750() {
    width: 100%;
  }
  .single-certificate__btn-wrap {
    margin: 0;
  }
}

.calc-hairs__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  & > p {
    font-size: 1.8rem;
    line-height: 1.3;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #3f3f3f;
  }
}
.calc-hairs__footer-btn {
  min-width: 35%;
  padding: 0 2rem;
  .calc-select__btn-wrap {
    max-width: 100%;
  }
  .calc-select__btn {
    max-width: 100%;
  }
}

.single-certificate__btn,
.calc-select__btn-wrap {
  cursor: pointer;
}
