.lg-slider {
  overflow: hidden;
  margin-top: -10rem;
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: 1rem;
    li {
      display: inline-block !important;
      width: 1.8rem;
      height: 1.8rem;
      margin: 1.5rem .8rem 0 .8rem;
      border-radius: .4rem;
      background-color: #787878;
      &:hover {
        background-color: #f6882b;
      }
    }
    .slick-active {
      background-color: #f2a621;
    }
  }
}
.lg-slider__item {
  position: relative;
  min-height: 65rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.lg-slider__container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;

  align-items: center;
  @include m768() {
    padding: 1rem 2rem;
  }
  @include m425() {
    padding: 1rem 1.5rem;
  }
}
.lg-slider__container-inn {
  max-width: 64rem;
  padding-top: 23rem;
  padding-bottom: 7rem;
  .btn-link__wrap {
    transform: translateX(17rem);
  }
  .btn-link {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
.lg-slider__title {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #fff;

  @include gilroy(bold);
}
.lg-slider__text {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #fff;

  @include gilroy(bold);
}
