.master-works-2 {
  padding-bottom: 20px;
}
.masters-sec {
  overflow: hidden;
  // margin-top: -8rem;
  // padding-top: 8rem;
  background-image: url('../img/bg-masters-sec.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  > .container {
    @include mf320() {
      width: 45rem;
    }
    @include mf475() {
      width: 72rem;
    }
    @include mf715() {
      width: 93rem;
    }
    @include mf1000() {
      width: 120rem;
    }
  }
  .section-title {
    margin-bottom: -2rem;

    @include m425() {
      .section-title__text {
        font-size: 3rem;
      }
    }
  }
  //общие стили для верхнего слайдера
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
    text-align: center;
  }
  .bx-wrapper {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  .bx-controls-direction {
    position: absolute;
    right: 0;
    bottom: -5.5rem;
    left: 0;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 2.4rem;
    height: 4rem;
  }
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    visibility: visible;
    background-image: url('../img/bx/master-works-arr.png');
    background-repeat: no-repeat;
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      content: '';
      transition: .3s;
      opacity: 0;
      background-image: url('../img/bx/master-works-arr.png');
    }
  }
  .bx-wrapper .bx-prev {
    left: -2rem;
    background-position: 0 100%;
    &:after {
      background-position: 0 0;
    }
  }
  .bx-wrapper .bx-next {
    right: -2rem;
    background-position: 100% 100%;
    &:after {
      background-position: 100% 0;
    }
  }
  .bx-wrapper .bx-pager {
    bottom: 3rem;
  }
}
.masters-sec__item {
  &:hover {
    .masters-sec__info {
      transition: .5s;
      border: .2rem solid #f2a621;
      background-color: #f2a621;
    }
    .masters-sec__name,
    .masters-sec__position {
      opacity: 0;
    }
    .masters-sec__btn {
      opacity: 1;
    }
  }
}
.masters-sec__pic {
  display: block;
  width: 18rem;
  margin: 0 auto;
  border-radius: .8rem .8rem 0 0;
}
.masters-sec__info {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  padding: 1rem;
  transition: .5s;
  border: .2rem solid transparent;
  border-radius: .8rem;
  background-color: #fff;

  align-items: center;
  justify-content: center;
}
.masters-sec__name {
  font-size: 2rem;
  line-height: 2.2rem;
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
  transition: .5s;
  text-transform: none;
  opacity: 1;
  color: #4f4f4f;

  @include gilroy(bold);
  &::after {
    position: absolute;
    right: 0;
    bottom: -.7rem;
    left: 0;
    width: 13rem;
    height: .1rem;
    margin: auto;
    content: '';
    background-color: #f2a621;
  }
}
.masters-sec__position {
  font-size: 1.4rem;
  font-weight: 400;
  transition: .5s;
  text-transform: none;
  opacity: 1;
  color: #4f4f4f;

  @include opensans(regular);
}
.masters-sec__btn--wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: auto;

  justify-content: center;
}
.masters-sec__btn {
  font-size: 1.4rem;
  display: block;
  width: 95%;
  margin: .3rem auto;
  padding: .9rem .5rem .8rem .5rem;
  transition: .5s;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  border: .2rem solid #fff;
  border-radius: .8rem;
  background-color: transparent;

  @include gilroy(bold);
  &:hover {
    transition: .5s;
    color: #fff;
    background-color: #f6882b;
  }
}

.masters-sec__bottom-link {
  padding: 3.5rem 0 2rem 0;
  text-align: center;
  a {
    font-size: 2.4rem;
    text-decoration: underline;
    text-transform: uppercase;
    color: #4f4f4f;

    @include gilroy(bold);
    &:hover {
      text-decoration: underline;
      color: #f6882b;
    }
  }
}
