.menu {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
  height: 14rem;
  background-image: url('../img/bg-menu.png');
  background-repeat: repeat-x;
  background-position: 50% 0;
  background-size: contain;

  @include m1000() {
    display: none;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  text-align: justify;
  &::after {
    display: inline-block;
    width: 100%;
    height: 0;
    content: '';
  }
}
.menu__list-2 {
  display: flex;

  justify-content: space-between;
  &::after {
    display: none;
  }
}
.menu__list-inn {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.menu__list-middle {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list-left,
.menu__list-right {
  width: 38%;
}
.menu__item {
  display: inline-block;
  padding: 0;
  list-style: none;
  vertical-align: middle;

  @include m1024() {
    .btn-link__wrap {
      margin-right: -1rem;
      margin-left: -3rem;
    }
    .btn-link {
      font-size: 1.4rem;
      padding: 1rem;
    }
  }
 }
.menu__link {
  font-size: 2.2rem;
  position: relative;
  padding: .5rem 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #4f4f4f;

  @include gilroy(bold);
  @include m1024() {
    font-size: 1.8rem;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    margin: auto;
    content: '';
    transition: .5s;
    background-color: #f6882b;
  }
  &:hover {
    &::after {
      width: 30%;
      transition: .5s;
    }
  }
  &.logo {
    display: inline-block;
    max-width: 23rem;
    // width: auto;
    height: auto;
    &::after {
      display: none;
    }
    img {
      display: block;
      width: 23rem;
      // height: 7rem;
      height: auto;

      @include m1024() {
        width: 21rem;
      }
    }
  }
  img {
    display: block;
    width: 23rem;
    // height: 7rem;
    height: auto;

    @include m1024() {
      width: 21rem;
    }
  }
}
