.salone-sec {
  margin-top: -8rem;
  margin-bottom: -2rem;
  padding-top: 8rem;
  .container {
    padding: 0 1.7rem;
    text-align: center;
  }
}

.salone-sec__item {
  position: relative;
  z-index: 5;
  display: inline-block;
  overflow: hidden;
  width: 36rem;
  height: 30rem;
  margin: 0 1.3rem 2.8rem 1.3rem;
  transition: .5s;
  vertical-align: top;
  border-radius: .8rem;

  @include m1000() {
    width: 32.5rem;
  }
  @include m425() {
    width: 100%;
    height: 50rem;
    margin: 0 0 2.5rem 0;
  }
  @include m375() {
    height: 40rem;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    transition: .5s;
    border-radius: .8rem;
    background-color: rgba(0,0,0,.3);
  }
  &:hover {
    &::after {
      transition: .5s;
      pointer-events: none;
      opacity: 0;
    }
    .salone-sec__pic {
      filter: none;
    }
    .salone-sec__btn-block {
      transition: .5s;
      opacity: 1;
    }
  }
}
.salone-sec__pic {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  margin: auto;
  border-radius: .8rem;

  filter: grayscale(100%);
}

.salone-sec__link {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 0 0 2rem 3rem;
  text-align: left;
}

.salone-sec__link--adress,
.salone-sec__link--phone {
  font-size: 2.2rem;
  line-height: 3rem;
  text-decoration: none;
  color: #fff;

  @include gilroy(bold);
  @include m1000() {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  @include m425() {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.salone-sec__btn-block {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 23rem;
  transition: .5s;
  transform: translate(-50%, -50%);
  opacity: 0;
  .btn-link__wrap {
    display: block;
    margin: 2rem auto;
  }
  .btn-link {
    font-size: 1.8rem;
    display: block;
    margin: 0 auto;
    padding: .5rem 1rem .4rem 1rem;
    letter-spacing: .036rem;
  }
}
