.top-slider-sec {
  margin-top: -10rem;
  margin-bottom: 3.5rem;

  @include m1024() {
    margin-top: -14rem;
  }
  @include m768() {
    margin-top: -10rem;
  }
  @include m680() {
    margin-top: -8rem;
  }
  @include m600() {
    margin-top: -6rem;
  }
  @include m500() {
    margin-top: -5rem;
  }
}
.slide-btn__link {
  @include gilroy(bold);
  &::before {
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    border-radius: .8rem;
    background-color: #f2a621;
  }
  &::after {
    position: absolute;
    z-index: -10;
    top: .5rem;
    right: 0;
    bottom: -.3rem;
    left: 0;
    margin: auto;
    content: '';
    border-radius: .8rem;
    background-color: #f8d18f;
  }
  &:hover {
    transition: .5s;
    color: #fff;
    text-shadow: 0 0 1rem #f2a621;
    &::before {
      transition: .5s;
      background-color: #f68728;
    }
  }
}

.ls-bottom-slidebuttons {
  height: 2rem;
}
.ls-bottom-slidebuttons a {
  display: inline-block !important;
  width: 1.8rem;
  height: 1.8rem;
  margin: 1.5rem .8rem 0 .8rem;
  border-radius: .4rem;
  background-color: #787878;
  &.ls-nav-active {
    background-color: #f2a621;
  }
  &:hover {
    background-color: #f6882b;
  }
}
.ls-thumbnail-hover {
  display: none !important;
}

.slide-01__title,
.slide-01__subtitle {
  @include gilroy(bold);
}
.slide-02__title {
  @include gilroy(bold);
}
.slide-03__title {
  @include gilroy(bold);
}
.slide-04__title,
.slide-04__subtitle {
  @include gilroy(bold);
}
//begin 6 slide
.slide-06__title {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
.slide-06__subtitle {
  color: #505050;

  @include gilroy(bold);
}
.slide-06__contacts--title {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
.slide-06__contacts--metro {
  position: relative;
  padding-left: 4.5rem;
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
  @include m768() {
    padding-left: 3rem;
  }
  @include m500() {
    padding-left: 0;
  }
  &::before {
    position: absolute;
    bottom: .4rem;
    left: 0;
    width: 3rem;
    height: 2.5rem;
    content: '';
    background-image: url('../img/metro.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    @include m768() {
      width: 1.5rem;
      height: 1.25rem;
      background-size: contain;
    }
    @include m500() {
      display: none;
    }
  }
}
.slide-06__contacts--phone {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
//end 6 slide

//begin 7 slide
.slide-07__title {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
.slide-07__subtitle {
  color: #505050;

  @include gilroy(bold);
}
.slide-07__text {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #f6882b;

  @include gilroy(bold);
}
.slide-07__text span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-bottom: .5rem;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #505050;
}
.slide-07__contacts--title {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
.slide-07__contacts--metro {
  position: relative;
  padding-left: 4.5rem;
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
  @include m768() {
    padding-left: 3rem;
  }
  @include m500() {
    padding-left: 0;
  }
  &::before {
    position: absolute;
    bottom: .4rem;
    left: 0;
    width: 3rem;
    height: 2.5rem;
    content: '';
    background-image: url('../img/metro.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    @include m768() {
      width: 1.5rem;
      height: 1.25rem;
      background-size: contain;
    }
    @include m500() {
      display: none;
    }
  }
}
.slide-07__contacts--phone {
  text-transform: uppercase;
  color: #505050;

  @include gilroy(bold);
}
//end 7 slide

//begin 8 slide
.slide-08__title,
.slide-08__text {
  text-transform: uppercase;

  @include gilroy(bold);
}

//end 8 slide
