*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  // font-size: 62.5%;
  font-size: 7px;
  line-height: 1.8rem;
  box-sizing: border-box;

  @include opensans(regular);
}
body {
  display: flex;
  flex-direction: column;
  min-width: 32rem;
  height: 105%;
  color: #3f3f3f;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;

  @include gilroy(bold);
}
h1 {
  font-size: 3.6rem;
  color: #505050;
}
h2 {
  font-size: 2.4rem;
  color: #3f3f3f;
}
h3 {
  font-size: 2rem;
  color: #3f3f3f;
}
h4 {
  font-size: 1.8rem;
  color: #f6882b;
}
h5 {
  font-size: 1.4rem;
  color: #3f3f3f;
}
h6 {
  font-size: 1.4rem;
  color: #f6882b;
}
p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 1rem 0;
}
a {
  transition: .5s;
  color: #f6882b;
  &:hover {
    transition: .5s;
    text-decoration: none;
    color: #f6882b;
  }
}
ul li,
ol li {
  font-size: 1.6rem;
  line-height: 2rem;
}
.content {
  padding-top: 14rem;

  flex: 1 0 auto;
}
.container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;

  @include m768() {
    padding: 1rem 2rem;
  }
  @include m425() {
    padding: 1rem 1.5rem;
  }
}
.fix {
  overflow: hidden;
}
.menu,
.footer {
  flex: 0 0 auto;
}
.page-inn__title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #3f3f3f;

  @include gilroy(bold);
}
.map-container {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 45rem;
  border-radius: .8rem;

  @include m1000() {
    height: 35rem;
  }
  @include m680() {
    height: 30rem;
  }
}

//lightbox styles
.lightbox {
  padding-top: 75vh;
  margin-top: -50vh;
}
.lightboxOverlay {
  z-index: 10000;
}
body:after {
  content: url('../img/lb/close.png') url('../img/lb/loading.gif') url('../img/lb/prev.png') url('../img/lb/next.png');
}
.lb-cancel {
  background: url('../img/lb/loading.gif') no-repeat;
}
.lb-nav a.lb-prev {
  background: url('../img/lb/prev.png') left 48% no-repeat;
}
.lb-nav a.lb-next {
  background: url('../img/lb/next.png') right 48% no-repeat;
}
.lb-data .lb-close {
  background: url('../img/lb/close.png') top right no-repeat;
}
.disableScrolling {
  z-index: 10000;
}
