extends ../_template

block variables
  - var title = 'Апельсин'

block content
  include ../common/_menu-2

  .content
    // BEGIN lg slider
    include ../common/_lg-slider
    // END   lg slider
    
    // BEGIN why we
    include ../common/_why-we
    // END   why we
    
    // BEGIN секция с табами
    include ../common/_tab-sec
    // END   секция с табами
    
    // BEGIN секция с калькулятором
    include ../common/_calc
    // END   секция с калькулятором
    
    // BEGIN примеры работ
    include ../common/_our-works-2
    // END   примеры работ
    
    // BEGIN оранжевая полоса с надписью
    include ../common/_orange-string
    // END   оранжевая полоса с надписью
    
    // BEGIN салоны
    include ../common/_salon-sec-2
    // END   салоны
    
    // BEGIN секция с текстом
    include ../common/_text-sec
    // END   секция с текстом
    
    // BEGIN секция с баннером
    include ../common/_banner-04
    // END   секция с баннером

    // BEGIN секция с мастерами
    include ../common/_masters-sec
    // END   секция с мастерами

    // BEGIN секция с прайсом аккордеоном
    include ../common/_price-sec
    // END   секция с прайсом аккордеоном
    
    // BEGIN секция с баннером
    include ../common/_banner-05
    // END   секция с баннером
    
    // BEGIN секция с отзывами
    include ../common/_reviews-sec
    // END   секция с отзывами


    //- include ../common/_servise-sec

    //- include ../common/_about-sec

    //- include ../common/_video


    //- include ../common/_banner-02


    //- include ../common/_work-sec

    //- include ../common/_banner-03


  include ../common/_footer