extends ../_template

block variables
  - var title = 'Апельсин'

block content
  include ../common/_menu-2

  .content
    // BEGIN lg slider
    include ../common/_lg-slider
    // END   lg slider
    
    // BEGIN why we
    include ../common/_why-we
    // END   why we
    
    // BEGIN секция с табами
    //- include ../common/_tab-sec
    // END   секция с табами
    
    // BEGIN секция с калькулятором
    //- include ../common/_calc
    // END   секция с калькулятором
    
    // BEGIN примеры работ
    include ../common/_our-works-2
    // END   примеры работ
    
    // BEGIN оранжевая полоса с надписью
    include ../common/_orange-string
    // END   оранжевая полоса с надписью

    //- include ../common/_servise-sec

    //- include ../common/_about-sec

    //- include ../common/_video

    //- include ../common/_masters-sec

    //- include ../common/_banner-02

    //- include ../common/_salon-sec

    //- include ../common/_work-sec

    //- include ../common/_banner-03

    //- include ../common/_reviews-sec

  include ../common/_footer