extends ../_template

block variables
  - var title = 'Апельсин'

block content
  include ../common/_menu

  .content
    include ../common/_top-slider

    include ../common/_banner-01

    include ../common/_servise-sec

    include ../common/_about-sec

    include ../common/_video

    include ../common/_masters-sec

    include ../common/_banner-02

    include ../common/_salon-sec

    include ../common/_work-sec

    include ../common/_banner-03

    include ../common/_reviews-sec

  include ../common/_footer