extends ../_template

block variables
  - var title = 'Inner'
  - var pageHeaderTitle = 'Внутренняя страница'

block content
  include ../common/_menu

  .content
    include ../common/_page-header
    .container
      h2 Информация header 2
      p Выполняю аппаратный, классический, комбинированный, медицинский педикюр, протезирование ногтей, маникюр комбинированный, аппаратный, классический.
      p Делаю все виды маникюра и педикюра, работаю с проблемными стопами, ногтями
      p Курсы по дизайну гель-лаками
        a(href="#") "Kia style studio"

      h3 Информация header 3
      p Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.

      h4 Информация header 4
      p Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке систем массового участия. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Таким образом начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.

      h5 Информация header 5
      p Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

      h6 Информация header 6
      p Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

      ul
        li Пункт
        li Пункт
        li Пункт

      ol
        li Пункт
        li Пункт
        li Пункт

  include ../common/_footer
