extends ../_template

block variables
  - var title = 'Новости'
  - var pageHeaderTitle = 'Новости'

block content
  include ../common/_menu

  .content
    include ../common/_page-header
    .container

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      .news__item
        a.news__link(href="#")
        .news__picture
          img(src="assets/img/news/news-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.

      include ../common/_pagination

  include ../common/_footer