extends ../_template

block variables
  - var title = 'Новости'
  - var pageHeaderTitle = 'Новости'

block content
  include ../common/_menu

  .content
    include ../common/_page-header
    .container
      .news-one__aside
        .news-one-aside__title Рекомендуем:

        .news-one-aside__item
          a.news-one-aside__link(href="#")
          .news-one-aside__picture
            img(src="assets/img/news/news-one-aside-01.jpg", alt="news preview image")
          h3.news-one-aside__text Очень важная новость

        .news-one-aside__item
          a.news-one-aside__link(href="#")
          .news-one-aside__picture
            img(src="assets/img/news/news-one-aside-01.jpg", alt="news preview image")
          h3.news-one-aside__text Очень важная новость на две строки

        .news-one-aside__item
          a.news-one-aside__link(href="#")
          .news-one-aside__picture
            img(src="assets/img/news/news-one-aside-01.jpg", alt="news preview image")
          h3.news-one-aside__text Очень важная новость на две строки


      .news-one__item
        .news__picture
          img(src="assets/img/news/news-one-01.jpg", alt="news picture")
          .news__date
            .news__day 21
            .news__month сентября
        .news__text
          h2.news__title Новая акция в салоне
          p Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности способствует подготовки и реализации новых предложений. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения соответствующий условий активизации. Товарищи! постоянный количественный рост и сфера нашей активности позволяет оценить значение направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации.
          p Таким образом реализация намеченных плановых заданий требуют определения и уточнения систем массового участия. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет оценить значение существенных финансовых и административных условий.

  include ../common/_footer